@import url('http://fonts.googleapis.com/css?family=Cookie&display=swap');
@font-face {
    font-family: 'BlackJack';
    src: url('/blackjackw05.woff2') format('woff2');
  }
body {
    background-color:rgb(199, 170, 118);text-align: center
}

.headings {
    font-family: BlackJack, Cookie, Times, sans-serif;
    font-size: 48px;
}

.subheadings {
    font-family: Cookie, Times, sans-serif;
    font-size: 32px;
}

.links{
    font-family: Cookie, Times, sans-serif;
    font-size: 32px;
    display: table; 
    margin: 0 auto;
    text-align: left;
}
.descriptions {
    font-family: Cookie, Times, sans-serif;
    font-size: 26px;
}
.legible {
    font-family:"Open Sans", Times, sans-serif;
    font-size: 20px;
    display: table; 
    margin: 0 auto;
    text-align: left;
}